{{input value=query}}

<ul>
  {{#each filteredContacts as |contact|}}
    <li>
      {{#link-to 'contacts.contact' contact}}
        {{contact.fullName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
